
<div class="flex items-center p-4 border">
    <div class="flex flex-col items-center w-full">
        <div class="flex flex-col justify-center items-center w-full">
            <%= link_to  user_path(user) do %>
            <div class="flex flex-col justify-center items-center w-full"><%= gravatar_for user, size: 200 %>
            <span class="text-md whitespace-nowrap text-gray-800 font-semibold">@<%= user.username %></span><span class="text-md whitespace-nowrap text-gray-600">Joined on <%= user.created_at.strftime("%B %Y")%> </span></div>
            <% end %>
            <div class="py-2 flex space-x-2">
                <button class="flex justify-center  max-h-max whitespace-nowrap focus:outline-none  focus:ring  focus:border-blue-300 rounded max-w-max border bg-transparent border-teal-700 text-teal-700 hover:border-teal-800 hover:border-teal-800 px-4 py-1 flex items-center hover:shadow-lg"><span class="mr-2"></span>FOLLOW<span class="ml-2"></span></button>
                <%= link_to  user_path(user) do %>
                <button class="flex justify-center  max-h-max whitespace-nowrap focus:outline-none  focus:ring  focus:border-blue-300 rounded max-w-max text-gray-100 bg-teal-600 hover:bg-teal-700 px-4 py-1 flex items-center hover:shadow-lg"><span class="mr-2"></span>READ<span class="ml-2"></span></button>
                <% end %>
            </div>
            <div
                class="py-4 flex justify-center items-center w-full divide-x divide-gray-400 divide-solid">
                <span class="text-center px-2"><span class="font-bold text-gray-700">56</span><span class="text-gray-600"> followers</span></span><span class="text-center px-2"><span class="font-bold text-gray-700">112</span><span class="text-gray-600"> following</span></span><span class="text-center px-2"><span class="font-bold text-gray-700"><%= user.articles.count %></span><span class="text-gray-600"> <%= "article".pluralize(user.articles.count) %></span></span>
            </div>
        </div>
    </div>
</div>
