<%= render 'shared/errors' %>

<%= form_with(model: @article, local: true) do |f| %>
  <div class="flex justify-center py-12 px-4 sm:px-6 lg:px-8 items-center">
    <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
      <div class="grid  gap-8 grid-cols-1">
        <div class="flex flex-col ">
          <div class="flex flex-col sm:flex-row items-center">
            <h2 class="font-semibold text-lg mr-auto"><%=title%></h2>
            <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
          </div>
          <div class="mt-5">
            <div class="form">
              <div class="mb-3 space-y-2 w-full text-xs">
                <%= f.label :title, class:"font-semibold text-gray-600 py-2"%>
                <div class="flex flex-wrap items-stretch w-full mb-4 relative">
                  <div class="flex">
                    <span class="flex items-center leading-normal bg-teal-400 border-1 rounded-r-none border border-r-0 border-blue-300 px-3 whitespace-no-wrap text-grey-dark text-sm w-12 h-10 bg-teal-500 justify-center items-center  text-xl rounded-lg text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path fill="none" d="M12.871,9.337H7.377c-0.304,0-0.549,0.246-0.549,0.549c0,0.303,0.246,0.55,0.549,0.55h5.494
								c0.305,0,0.551-0.247,0.551-0.55C13.422,9.583,13.176,9.337,12.871,9.337z M15.07,6.04H5.179c-0.304,0-0.549,0.246-0.549,0.55
								c0,0.303,0.246,0.549,0.549,0.549h9.891c0.303,0,0.549-0.247,0.549-0.549C15.619,6.286,15.373,6.04,15.07,6.04z M17.268,1.645
								H2.981c-0.911,0-1.648,0.738-1.648,1.648v10.988c0,0.912,0.738,1.648,1.648,1.648h4.938l2.205,2.205l2.206-2.205h4.938
								c0.91,0,1.648-0.736,1.648-1.648V3.293C18.916,2.382,18.178,1.645,17.268,1.645z M17.816,13.732c0,0.607-0.492,1.1-1.098,1.1
								h-4.939l-1.655,1.654l-1.656-1.654H3.531c-0.607,0-1.099-0.492-1.099-1.1v-9.89c0-0.607,0.492-1.099,1.099-1.099h13.188
								c0.605,0,1.098,0.492,1.098,1.099V13.732z"></path>
                      </svg>
                    </span>
                  </div>
                  <%= f.text_field :title, class:"flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border border-l-0 h-10 border-grey-light rounded-lg rounded-l-none px-3 relative focus:border-blue focus:shadow" , placeholder: "Enter your article's Title." %>
                </div>
              </div>
              <div class="flex-auto w-full mb-1 text-xs space-y-2">
                <%= f.label :description ,class:"font-semibold text-gray-600 py-2"%>
                <%= f.text_area :description,class:"w-full min-h-[100px] max-h-[300px] h-28 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" ,placeholder:"Enter your article's Description." ,spellcheck:"false" %>
              </div>
              <div class="mt-5 text-right md:space-x-3 md:block flex flex-col-reverse">
                <%= f.submit title, disable_with: 'Submiting...',class: "btn-submit"%>
                <%= link_to 'Cancel', articles_path , class:"btn-cancel"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end %>
