<div class="mx-8 mt-4 lg:flex">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://cdn.pixabay.com/photo/2010/12/13/10/05/berries-2277_640.jpg')" title="Woman holding a mug">
  </div>
  <div class="border-r w-1/2 border-b border-l border-gray-200 lg:border-l-0 lg:border-t lg:border-gray-200 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2"><%= link_to article.title.capitalize, article_path(article) %></div>
      <p class="text-gray-700 w-1/2 text-base"><%= article.description.capitalize %></p>
    </div>
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="https://cdn.pixabay.com/photo/2010/12/13/10/05/berries-2277_640.jpg" alt="Avatar of Jonathan Reinink">
      <div class="text-sm">
        <p class="text-gray-900 leading-none">Diego Cattarinich Clavel</p>
        <p class="text-gray-600"><%= time_ago_in_words article.created_at %> ago</p>
      </div>
      <div class="flex-grow"></div>
        <%= link_to 'Edit', edit_article_path(article) ,class:"btn-primary"%>
        <%= button_to 'Delete', article, method: :delete,class:"btn-danger"%>
    </div>
  </div>
</div>
